/*
Arc-Dark Color Scheme
*/

@define-color highlight #394260;
@define-color base1  #212736;
@define-color base2 #1d2230;
@define-color base3  #1d2230;


*{
    font-family: JetBrains Mono Nerd Font;
}

window {
	border: 1px solid @highlight;
	opacity: 0.97;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base3;

}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @base2;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
}
